WEBGCCCine/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pelicula" nillable="true" type="tns:Pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPelicula" nillable="true" type="tns:ArrayOfPelicula" />
  <xs:complexType name="Pelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeliculaID" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pelicula" nillable="true" type="tns:Pelicula" />
  <xs:complexType name="ArrayOfFunciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funciones" nillable="true" type="tns:Funciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunciones" nillable="true" type="tns:ArrayOfFunciones" />
  <xs:complexType name="Funciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fechafuncion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pelicula" nillable="true" type="tns:Pelicula" />
      <xs:element minOccurs="0" name="PeliculaId" type="xs:int" />
      <xs:element minOccurs="0" name="SalaId" type="xs:int" />
      <xs:element minOccurs="0" name="funcionId" type="xs:int" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funciones" nillable="true" type="tns:Funciones" />
</xs:schema>