WEBGCCCine/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63253/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63253/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63253/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPelicula_GetPeliculas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeliculas" />
  </wsdl:message>
  <wsdl:message name="IPelicula_GetPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeliculasResponse" />
  </wsdl:message>
  <wsdl:message name="IPelicula_GetPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPelicula" />
  </wsdl:message>
  <wsdl:message name="IPelicula_GetPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="IPelicula_AddPelicula_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPelicula" />
  </wsdl:message>
  <wsdl:message name="IPelicula_AddPelicula_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPeliculaResponse" />
  </wsdl:message>
  <wsdl:message name="IPelicula_GetFunciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFunciones" />
  </wsdl:message>
  <wsdl:message name="IPelicula_GetFunciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFuncionesResponse" />
  </wsdl:message>
  <wsdl:message name="IPelicula_addFunciones_InputMessage">
    <wsdl:part name="parameters" element="tns:addFunciones" />
  </wsdl:message>
  <wsdl:message name="IPelicula_addFunciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFuncionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPelicula">
    <wsdl:operation name="GetPeliculas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelicula/GetPeliculas" message="tns:IPelicula_GetPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelicula/GetPeliculasResponse" message="tns:IPelicula_GetPeliculas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelicula/GetPelicula" message="tns:IPelicula_GetPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelicula/GetPeliculaResponse" message="tns:IPelicula_GetPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPelicula">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelicula/AddPelicula" message="tns:IPelicula_AddPelicula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelicula/AddPeliculaResponse" message="tns:IPelicula_AddPelicula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFunciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelicula/GetFunciones" message="tns:IPelicula_GetFunciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelicula/GetFuncionesResponse" message="tns:IPelicula_GetFunciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFunciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IPelicula/addFunciones" message="tns:IPelicula_addFunciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPelicula/addFuncionesResponse" message="tns:IPelicula_addFunciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPelicula" type="tns:IPelicula">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPeliculas">
      <soap:operation soapAction="http://tempuri.org/IPelicula/GetPeliculas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPelicula">
      <soap:operation soapAction="http://tempuri.org/IPelicula/GetPelicula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPelicula">
      <soap:operation soapAction="http://tempuri.org/IPelicula/AddPelicula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunciones">
      <soap:operation soapAction="http://tempuri.org/IPelicula/GetFunciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFunciones">
      <soap:operation soapAction="http://tempuri.org/IPelicula/addFunciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IPelicula" binding="tns:BasicHttpBinding_IPelicula">
      <soap:address location="http://localhost:63253/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>