WEBGCCCine/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63253/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" />
  <xs:element name="GetPeliculas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeliculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" minOccurs="0" name="GetPeliculasResult" nillable="true" type="q1:ArrayOfPelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PeliculaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" minOccurs="0" name="GetPeliculaResult" nillable="true" type="q2:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" minOccurs="0" name="pelicula" nillable="true" type="q3:Pelicula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPeliculaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuncionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" minOccurs="0" name="GetFuncionesResult" nillable="true" type="q4:ArrayOfFunciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFunciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_GCCCine.Clases" minOccurs="0" name="funciones" nillable="true" type="q5:Funciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFuncionesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>